body {
    font-family: 'Roboto Slab', sans-serif;
    margin: 0;
    background-image: url('https://homedepot.scene7.com/is/image/homedepotcanada/p_1000803961.jpg?wid=1000&hei=1000&op_sharpen=1');
}
header {
    text-align: center;
}
/* Body */
img {
    max-width: 100%;
    height: 300px;
    border-radius: 10px;
}
.container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.container .item {
    flex: 20%;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 10px;
    cursor: pointer;
}
.container .item:hover {
    background-color: bisque;
    transform: scale(1.05);
    box-shadow: 5px 5px 5px #585454;
    transition: background 0.75s;
}
.container .item .content {
    padding: 5px 10px;
}
button {
    background-color: green;
    border: none;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}
#btn-demo {
    background-color: red;
    border: none;
}
button a {
    color: aliceblue;
    text-decoration: none;
}

.more-details {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

#btn-detail {
    background-color: orange;
}

.container-table {
    padding: 10px;
}
table,
th,
td {
    text-align: center;
    border: 1px solid black;
}
#my-table {
    padding-top: 20px;
}

.container-gif {
    text-align: center;
    padding: 10px;
}

/* CSS Pop Up */
.pop-up {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
}

.pop-up .pop-up-content {
    background-color: bisque;
    margin: 5% auto 15%;
    text-align: center;
    width: 80%;
    border: 2px dashed gray;
    border-radius: 5px;
    padding-bottom: 70px;
}
.pop-up .pop-up-content #btn-close {
    font-size: 20px;
    font-weight: bolder;
    background-color: bisque;
    color: black;
    float: right;
    margin-top: -47px;
    margin-right: 20px;
}

.pop-up .pop-up-content #btn-close:hover {
    background-color: white;
    border-radius: 5px;
    transition: background 0.5s;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* Responsive phone, tablet */
@media(max-width: 800px) {
    .container .item {
        flex: 100%;
    }
}
